<div class="container">

	<div class='row'>
	  	<h1 class='text-center'>Welcome to RAM University <%= @user.email%></h1>
		<%= link_to "Settings" %>
	</div>

	<div class='col-md-6'>
		<div class='panel'>	
			<div class='panel-body'>
				<%= render 'dashboard/progress' %>
			</div>	
		</div>
		<div class='panel'>	
			<div class='panel-body'>
				<%= render 'dashboard/scores' %>
			</div>	
		</div>
	</div>
	<div class='col-md-6'>
		<div class='panel'>
			<div class='panel-body'>
				<h4 class='black'>Rewards</h4>
				<p class='grey'>Your latest achievements</p>
				<div class="icon-block half img-circle bg-purple-300">
	        <i class="fa fa-star"></i>
	      </div>
			</div>
		</div>
		<div class='panel'>
			<div class='panel-body'>
				<h4 class='black'>Certificates</h4>
				<hr>
				<div class="icon-block half img-circle bg-grey-300">
	        <i class="fa fa-file-text"></i>
	      </div>
			</div>
		</div>
	</div>
</div>

<script>
  $(window).load(function() {
    var assertion_origin = "<%= @assertion_origin %>";
    if (assertion_origin !== null) {
      OpenBadges.issue([assertion_origin], function(errors, successes) {
        successes: console.log("You earned a badge!");
        errors: console.log("Sorry, try again!");
      });
    }
  });
</script>
