<div class="container">

	<div class='row add-padding'>
	  	<h1 class='text-center'>Welcome to RAM University <% if @profile %> <%= @profile.firstName %> <%= image_tag @profile.avatar, :class  => "avatar"%> <% else %> <%= @user.email%><% end %></h1>

		<ul class="nav nav-tabs">
		    <li class="active"><a data-toggle="tab" href="#home">Home</a></li>
		    <li><a data-toggle="tab" href="#profile">Profile</a></li>
		    <li><a data-toggle="tab" href="#theme">Theme</a></li>
		    <li><a data-toggle="tab" href="#havent">Haven't decided</a></li>
		    <li><a data-toggle="tab" href="#feature">Cool Feature</a></li>
		    <li><a data-toggle="tab" href="#awesome">Awesome Feature</a></li>
		    <li><a data-toggle="tab" href="#settings">Settings</a></li>
	  	</ul>
	</div>
	<div class='container tab-content'>
		<div id='home' class='tab-pane fade in active'>
			<div class='col-md-6'>
				<div class='panel'>	
					<div class='panel-body'>
						<%= render 'dashboard/progress' %>
					</div>	
				</div>
				<div class='panel'>	
					<div class='panel-body'>
						<%= render 'dashboard/scores' %>
					</div>	
				</div>
			</div>
			<div class='col-md-6'>
				<div class='panel'>
					<div class='panel-body'>
						<h4 class='black'>Rewards</h4>
						<p class='grey'>Your latest achievements</p>
						<div class="icon-block half img-circle bg-purple-300">
			        <i class="fa fa-star"></i>
			      </div>
					</div>
				</div>
				<div class='panel'>
					<div class='panel-body'>
						<h4 class='black'>Certificates</h4>
						<hr>
						<div class="icon-block half img-circle bg-grey-300">
			        <i class="fa fa-file-text"></i>
			      </div>
					</div>
				</div>
			</div>
		</div>
		<div id='settings' class='tab-pane fade in'>
			<div class='container'>
				<% if @profile %>
					<%= render 'profiles/form' %>
				<% else %>
					<%= link_to "Create Profile", new_profile_path %>
				<% end %>
			</div>
		</div>
		<div id='profile' class='tab-pane fade in'>
			<% if @profile %>
				<div class='col-sm-4'>
					<%= image_tag @profile.avatar %>
				</div>
				<div class='col-sm-8'>
					<h2>Here is your information</h2>
					<h4>First Name: <%= @profile.firstName %></h4>
					<h4>Last Name: <%= @profile.lastName %></h4>
					<h4>Address: <%= @profile.address %></h4>
					<h4>Country: <%= @profile.country %></h4>
					<h4>State: <%= @profile.state %></h4>
					<h4>Phone Number: <%= @profile.phoneNumber %></h4>
				</div>
			<% else %>
				<h2>Create your profile now</h2>
			<% end %>
		</div>
		<div id='theme' class= 'tab-pane fade in'>
			<%= render 'theme' %>
		</div>
		<div id='havent' class='tab-pane fade in'>
			Haven't decided	
		</div>
		<div id='feature' class='tab-pane fade in'>
			Features
		</div>
		<div id='awesome' class='tab-pane fade in'>
			AWESOME!
		</div>
	</div>
</div>

<script>
  $(window).load(function() {
    var assertion_origin = "<%= @assertion_origin %>";
    if (assertion_origin) {
    	console.log(assertion_origin);
      OpenBadges.issue([assertion_origin], function(errors, successes) {
        if (successes) {
        	console.log("You earned a badge!");
        } else if (errors) {
        	console.log("Something went wrong: " + errors);
        }
      });
    }
  });
</script>
