.container
	%h2= lecture.title
	-if user_signed_in?
		.htmlMarkUp
			%p= markdown(lecture.content)
		
	-find_status(lecture.id)
	-@status.each do |status|	
		-if status.lecture_id = "#{params[:lid]}"
			.btn-group
				%button.btn.btn-success Completed
	-if @status.empty?
		.btn-group
			= link_to "Complete", "/progress/add/#{params[:id]}/#{current_user.id}/#{lecture.id}", class: "btn btn-primary complete"
