.container
	%h2= lecture.title
	-if user_signed_in?
		.htmlMarkUp
			%p= markdown(lecture.content)
		
	-find_status(lecture.id)
	-@status.each do |status|	
		-if status.lecture_id = "#{params[:lid]}"
			.btn-group
				%button.btn.btn-success Completed
	-if @status.empty?
		=simple_form_for @complete, :url => progress_path, :remote => true  do |f|
			= f.hidden_field :user_id, value: "#{current_user.id}" 
			= f.hidden_field :lecture_id, value: "#{@lecture.id}"
			= f.hidden_field :learn_id, value: "#{params[:id]}"
			= f.hidden_field :status, value: "true"
			=f.submit