.container
	%h2= lecture.title
	-if user_signed_in?
		.htmlMarkUp
			-if flash[:notice]
				%h2= flash[:notice]
			%p= markdown(lecture.content)
		
	-find_status(lecture.id)
	-@status.each do |status|	
		-if status.lecture_id = "#{params[:lid]}"
			.status-box.text-center
				%p Have you completed this course? 
				=image_tag 'yes-button-md.png', class: 'status-image'
	-if @status.empty?
		.status-box.text-center
			%p Have you completed this course? 
			=image_tag 'no-button-md.png', class: 'status-image'
			
			=simple_form_for @complete, :url => progress_path, :remote => true  do |f|
				= f.hidden_field :user_id, value: "#{current_user.id}" 
				= f.hidden_field :lecture_id, value: "#{@lecture.id}"
				= f.hidden_field :learn_id, value: "#{params[:id]}"
				= f.hidden_field :status, value: "true"
				=f.submit "Yes I Have!"
