.container
	%h1= @section.title  #@learn.title
	%p= @section.description   #@learn.description

	-if current_user
		-is_enrolled(params[:id])
		-if @enrolled != true
			Add this course now to start your journey on becoming RAM certified!
			.btn.btn-default= link_to "Add Course", "/enroll/#{@section.id}"

		-if current_user or current_user.try(:admin?)
			- @lectures.each do |l|
				=render partial: 'learns/lecture_show', locals: {:lecture => l}
		-else
			- @lectures.each do |l|
				%h2= l.title

		= will_paginate @lectures
