= simple_form_for(@badge) do |f| 
  = f.error_notification 

  .form-inputs
    = f.input :name
    = f.input :description
    = f.input :image
    = f.input :criteria
    = f.input :issuer

  .form-actions
    = f.button :submit
