<div class='container'>
	<h1>Listing Quizzes</h1>
	<table class='table'>
		<% @learns.each do |learn| %>
				<tr>
					<th>Section Name</th>
					<th>Quiz Name</th>
					<th>Edit</th>
					<th>Delete</th>
					<th>Create</th>
				</tr>
				<tr>
					<td><%= learn.title %></td>
				<% learn.quizzes.each do |quiz| %>
					<td><%=link_to quiz.title, edit_quiz_path(quiz) %></td>
					<td><%= link_to edit_quiz_path(quiz),class: "btn btn-primary" do %>
	    					<span class="glyphicon glyphicon-pencil"></span>
						<% end %></td>
					<td><%=link_to quiz_path(quiz),data: {:confirm => 'Whoa now Jason Robertson! are you sure you want to do this? Think of all kids!'}, :method => "delete", class: "btn btn-danger" do %>
							<span class="glyphicon glyphicon-trash"></span>
							<% end %></td>
				<% end %>
					<td><%= link_to "Create Quiz For this course", "/learn/#{learn.id}/quiz/new" %></td>
				</tr>
		<% end %>
	</table>
</div>
