<div class="container">
  <div class='course-banner'>
    <h1><%= @course.title %></h1>
    
  </div>
  <div class='row'>
    <div class='col-sm-8'>
      <div class='blocks2'>
        <p><%= @course.description %></p>
      </div>
    </div>
    <div class='col-sm-4'>
      <div class='blocks2 add-padding space-purple'>
        <% if current_user %>
          <% is_enrolled(@course.id) %>
          <% if @enrolled != true %>
            <div class="row">
              <p class='white'><strong>Hurry up and enroll already!</strong></p>
              <p class='white'><strong>People Currently enrolled: <%= @already.count%></strong></p>
              <p class='white'><strong>Number of Sections: <%= @section.learns.count %></strong></p>
              <div class="btn green-btn">
                <%= link_to "Enroll Now!", "/enroll/#{@course.id}" %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>

  

  <% @course.learns.each do |m| %>
    <%= link_to learn_path(m.id) do %>
      <div class="col-md-6 col-sm-3 flip-container">
        <div class="flipper">
          <div class="front tile">
            <div class="front-title">
              <%= m.title %>
            </div>
            <div class="col-sm-4">
              <img class="img-responsive" src="<%= m.img %>"/>
            </div>
            <div class="col-sm-8">
              <p>
                <%= m.description %>
              </p>
            </div>
          </div>
          <div class="back tile">
            <div class="back-title">
              <% m.lectures.each do |l| %>
                <% if l.learn_id == m.id %>
                  <div class="col-sm-6">
                    <p>
                      <%= l.title  %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>


  <div class="row">
    <%= link_to course_exam_path(@course) do %>
      <div class="col-sm-8 col-sm-offset-2 flip-container">
        <div class="flipper">
          <div class="front tile">
            <div class="front-title">
              <%= @course.title %> Exam
            </div>
            <div class="col-sm-4">
              <img class="img-responsive" src="<%# @course.img %>"/>
            </div>
            <div class="col-sm-8">
              <p>
                <%= @course.description %>
              </p>
            </div>
          </div>
          <div class="back tile">
            <div class="back-title">
              <h2>Take Exam!</h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- 
<% if current_user %>
<% is_enrolled(@course.id) %>
    <% if @enrolled != true %>
      Add this course now to start your journey on becoming RAM certified!
      <div class="btn btn-default">
        <%= link_to "Enroll Now!", "/enroll/#{@course.id}" %>
      </div>
    <% end %>
<% end %>
-->
