<div class="container">
  <div class=''>
    <h1 class=''><%= @course.title %></h1>
  </div>
  <div class='row'>
    <div class='col-sm-6'>
      <div class='add-padding'>
        <p class=''><strong><%= @course.description %></strong></p>
      </div>
    </div>
    <div class='col-sm-6'>
      <% if current_user %>
        <div class='add-padding'>
          <% is_enrolled(@course.id) %>
          <% if @enrolled != true %>
            <div class="row">
              <p class=''><strong>Hurry up and enroll already!</strong></p>
              <div class="btn green-btn">
                <%= link_to "Enroll Now!", "/enroll/#{@course.id}" %>
              </div>
            </div>
            <% else %>
            <div class='row'>
              <div class='check-box'>
                
              </div>
              <p class='' style="display: inline-block; vertical-align: 120%;"><strong>You're already enrolled great job!</strong></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <% @course.learns.each do |m| %>
    <%= link_to learn_path(m.id) do %>
      <div class="col-md-6 col-sm-3 flip-container">
        <div class="flipper">
          <div class="front tile">
            <div class="front-title">
              <%= m.title %>
            </div>
            <div class="col-sm-4">
              <img class="img-responsive" src="<%= m.img %>"/>
            </div>
            <div class="col-sm-8">
              <p>
                <%= m.description %>
              </p>
            </div>
          </div>
          <div class="back tile">
            <div class="back-title">
              <% m.lectures.each do |l| %>
                <% if l.learn_id == m.id %>
                  <div class="col-sm-6">
                    <p>
                      <%= l.title  %>
                    </p>
                  </div>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

  <div class="row">
    <%= link_to course_exam_path(@course) do %>
      <div class="col-sm-8 col-sm-offset-2 flip-container">
        <div class="flipper">
          <div class="front tile">
            <div class="front-title">
              <%= @course.title %> Exam
            </div>
            <div class="col-sm-4">
              <% if @badge %>
              <img class="badge-img" src="<%= @badge.image %>"/>
              <% end %>
            </div>
            <div class="col-sm-8">
              <p>
                <%= @course.description %>
              </p>
            </div>
          </div>
          <div class="back tile">
            <div class="back-title">
              <h2>Take Exam!</h2>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>