%p#notice= notice
%h1 Listing Exams
%table
  %thead
    %tr
      %th{:colspan => "4"}
  %tbody
    - @exams.each do |exam|
      %tr
        %td= link_to exam.title, exam_path(exam)
        %td= link_to 'Show', exam, class: 'btn btn-primary'
        %td= link_to 'Edit', edit_exam_path(exam), class: 'btn btn-warning'
        %td= link_to 'Destroy', exam, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger'
%br/
= link_to 'New Exam', new_exam_path